.keyboard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.keyboard-row {
    margin: auto;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.keyboard-key {
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
    padding: 10px 12px;
}
.keyboard-key p {
    font-weight: bold;
    font-size: 20px;
    line-height: 0px;
}
#n {
    background-color: grey;
}
#N { 
    background-color: #3a3a3c;
}
#g {
    background-color: #538D4E;
}
#y {
    background-color: #b59f3b;
}